[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
flask = "*"
requests = "*"
python-dotenv = "*"
flask-cors = "*"
sseclient = "*"
tiktoken = "*"
flask-socketio = "*"
simple-websocket = "*"
eventlet = "*"
fastapi = "*"
uvicorn = "*"
websockets = "*"
pydub = "*"
langid = "*"
fastlid = "*"
fasttext = "*"
noisereduce = "*"
scipy = "*"
azure-cognitiveservices-speech = "*"
blingfire = "*"
pymongo = "*"
passlib = "*"
isort = "*"
pyjwt = "*"
bcrypt = "*"
pydantic = {extras = ["email"], version = "*"}
langchain = {extras = ["llms"], version = "*"}
chromadb = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
